framework: auto-detect
redirects: on

source https://nuget.org/api/v2

nuget Barb 1.0.2
nuget FSharp.Formatting
nuget XUnit
nuget xunit.abstractions
nuget xunit.runner.visualstudio version_in_path: true
nuget xunit.runner.console
nuget xunit.runners
nuget FAKE
nuget SourceLink.Fake

github fsharp/FAKE modules/Octokit/Octokit.fsx