framework: net35, net40, net45, net451, net452
redirects: on

source https://nuget.org/api/v2

nuget Barb 1.0.5
nuget FSharp.Formatting
nuget xunit 2.0.0
nuget xunit.abstractions 2.0.0
nuget xunit.assert 2.0.0
nuget xunit.core 2.0.0
nuget xunit.extensibility.core 2.0.0
nuget xunit.runner.console
nuget xunit.runner.visualstudio 2.1.0 version_in_path: true
nuget FSharp.Quotations.Evaluator 1.0.7

nuget FAKE
nuget SourceLink.Fake

github fsharp/FAKE modules/Octokit/Octokit.fsx