source https://nuget.org/api/v2

nuget Barb 1.0.0 framework: >= net452
nuget FSharp.Formatting
nuget NUnit 
nuget NUnit.Runners
nuget FAKE
nuget SourceLink.Fake

github fsharp/FAKE modules/Octokit/Octokit.fsx